.popup__button-save {
    padding: 0 22px 25px 0;
    width: 100%;
    height: 50px;
    border-radius: 2px;
    color: white;
    background: black;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
}

