.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
}

.profile__name:after {
  content:url(/images/edit-button.svg);
  padding-left: 10px;
  
}