.profile__pic {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 42px 26px auto;
}

@media screen and (min-width: 768px) {
    .profile__pic {
        margin: 40px 30px 51px 0;
    }
}
